@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-Italic.eot');
    src: local('Fira Sans Extra Condensed Italic'), local('FiraSansExtraCondensed-Italic'),
        url('FiraSansExtraCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-Italic.woff') format('woff'),
        url('FiraSansExtraCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-SemiBoldItalic.eot');
    src: local('Fira Sans Extra Condensed SemiBold Italic'), local('FiraSansExtraCondensed-SemiBoldItalic'),
        url('FiraSansExtraCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-SemiBoldItalic.woff') format('woff'),
        url('FiraSansExtraCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-Black.eot');
    src: local('Fira Sans Extra Condensed Black'), local('FiraSansExtraCondensed-Black'),
        url('FiraSansExtraCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-Black.woff') format('woff'),
        url('FiraSansExtraCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-ExtraLight.eot');
    src: local('Fira Sans Extra Condensed ExtraLight'), local('FiraSansExtraCondensed-ExtraLight'),
        url('FiraSansExtraCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-ExtraLight.woff') format('woff'),
        url('FiraSansExtraCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-SemiBold.eot');
    src: local('Fira Sans Extra Condensed SemiBold'), local('FiraSansExtraCondensed-SemiBold'),
        url('FiraSansExtraCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-SemiBold.woff') format('woff'),
        url('FiraSansExtraCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-Thin.eot');
    src: local('Fira Sans Extra Condensed Thin'), local('FiraSansExtraCondensed-Thin'),
        url('FiraSansExtraCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-Thin.woff') format('woff'),
        url('FiraSansExtraCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-Regular.eot');
    src: local('Fira Sans Extra Condensed Regular'), local('FiraSansExtraCondensed-Regular'),
        url('FiraSansExtraCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-Regular.woff') format('woff'),
        url('FiraSansExtraCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-BlackItalic.eot');
    src: local('Fira Sans Extra Condensed Black Italic'), local('FiraSansExtraCondensed-BlackItalic'),
        url('FiraSansExtraCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-BlackItalic.woff') format('woff'),
        url('FiraSansExtraCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-LightItalic.eot');
    src: local('Fira Sans Extra Condensed Light Italic'), local('FiraSansExtraCondensed-LightItalic'),
        url('FiraSansExtraCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-LightItalic.woff') format('woff'),
        url('FiraSansExtraCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-Medium.eot');
    src: local('Fira Sans Extra Condensed Medium'), local('FiraSansExtraCondensed-Medium'),
        url('FiraSansExtraCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-Medium.woff') format('woff'),
        url('FiraSansExtraCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-Bold.eot');
    src: local('Fira Sans Extra Condensed Bold'), local('FiraSansExtraCondensed-Bold'),
        url('FiraSansExtraCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-Bold.woff') format('woff'),
        url('FiraSansExtraCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-ExtraLightItalic.eot');
    src: local('Fira Sans Extra Condensed ExtraLight Italic'), local('FiraSansExtraCondensed-ExtraLightItalic'),
        url('FiraSansExtraCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-ExtraLightItalic.woff') format('woff'),
        url('FiraSansExtraCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-ThinItalic.eot');
    src: local('Fira Sans Extra Condensed Thin Italic'), local('FiraSansExtraCondensed-ThinItalic'),
        url('FiraSansExtraCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-ThinItalic.woff') format('woff'),
        url('FiraSansExtraCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-Light.eot');
    src: local('Fira Sans Extra Condensed Light'), local('FiraSansExtraCondensed-Light'),
        url('FiraSansExtraCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-Light.woff') format('woff'),
        url('FiraSansExtraCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-ExtraBold.eot');
    src: local('Fira Sans Extra Condensed ExtraBold'), local('FiraSansExtraCondensed-ExtraBold'),
        url('FiraSansExtraCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-ExtraBold.woff') format('woff'),
        url('FiraSansExtraCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-MediumItalic.eot');
    src: local('Fira Sans Extra Condensed Medium Italic'), local('FiraSansExtraCondensed-MediumItalic'),
        url('FiraSansExtraCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-MediumItalic.woff') format('woff'),
        url('FiraSansExtraCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-BoldItalic.eot');
    src: local('Fira Sans Extra Condensed Bold Italic'), local('FiraSansExtraCondensed-BoldItalic'),
        url('FiraSansExtraCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-BoldItalic.woff') format('woff'),
        url('FiraSansExtraCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('FiraSansExtraCondensed-ExtraBoldItalic.eot');
    src: local('Fira Sans Extra Condensed ExtraBold Italic'), local('FiraSansExtraCondensed-ExtraBoldItalic'),
        url('FiraSansExtraCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FiraSansExtraCondensed-ExtraBoldItalic.woff') format('woff'),
        url('FiraSansExtraCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
